# .gitignore

# Python #
# Ignore the bytecode cache directory
__pycache__/
*.pyc

# macOS #
# Ignore the file that stores custom folder attributes
.DS_Store

# R #
# Ignore the R command history file
.Rhistory

# Virtual Environments #
# Ignore your local Conda environment folder
.WiGS_Env/

# Ignore SLURM log files
slurm_logs/
*.out
*.err

# Ignore raw simulation results
Results/simulation_results/raw
Results/selection_videos/**/frames_png_for_video/
Results/selection_videos/**/*.png
Results/selection_videos/**/*.svg